<div class="container mx-auto py-8">
    <h2 class="text-2xl font-bold mb-4">Make a Reservation</h2>
    <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="startDate">
                Start Date
            </label>
            <input
                class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="startDate" type="date" formControlName="startDate" />
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="endDate">
                End Date
            </label>
            <input
                class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="endDate" type="date" formControlName="endDate" />
        </div>
        <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit" [disabled]="reservationForm.invalid">
            Make Reservation
        </button>
    </form>
</div>